body {
    background: linear-gradient(#ff1100, #ffffff);
}

#entete {
    text-align: center;
    color: white;
}


.presa {
    color: white;
    text-align: center;
}


.hobbies {
    color: rgb(255, 255, 0);
    
}

.socialmedia, img {
    height: 30px;
}